# Consulta histórico partidos fútbol selecciones

Partimos del ficheros __results.csv__   
https://www.kaggle.com/datasets/martj42/international-football-results-from-1872-to-2017?resource=download   
Es un fichero que se actualiza (bajarlo de nuevo)

__Instalación de paquetes__. Para el caso de sqlalchemy instalamos la 1.4.46, porque si instalamos la última 2.0 hay algunas funcionalidades del insert (to_sql) que funcionan diferentes

Para evitar incompatibilidades:   
    * sqlalchemy==1.4.46  
    * pymysql = 1.1.0  
    * jupysql = 0.10.10

In [1]:
!pip install sqlalchemy==1.4.46

Collecting sqlalchemy==1.4.46
  Downloading SQLAlchemy-1.4.46-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 15.7 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy==1.4.46) (3.0.3)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.29
    Uninstalling SQLAlchemy-2.0.29:
      Successfully uninstalled SQLAlchemy-2.0.29
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.4.46 which is incompatible.
Successfully installed sqlalchemy-1.4.46

In [2]:
!pip install PyMySql

Collecting PyMySql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.6 MB/s eta 0:00:00
Installing collected packages: PyMySql
Successfully installed PyMySql-1.1.0

In [3]:
!pip install jupysql

Collecting jupysql
  Downloading jupysql-0.10.10-py3-none-any.whl (95 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.7/95.7 kB 2.6 MB/s eta 0:00:00
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from jupysql) (3.10.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from jupysql) (1.4.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.4.4)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from jupysql) (3.1.3)
Requirement already satisfied: sqlglot>=11.3.7 in /usr/local/lib/python3.10/dist-packages (from jupysql) (20.11.0)
Collecting jupysql-plugin>=0.4.2 (from jupysql)
  Downloading jupysql_plugin-0.4.3-py3-none-any.whl (250 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 251.0/251.0 kB 16.0 MB/s eta 0:00:00
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.25-py3-none-any.whl (22 kB)
Collecting ploomber-extension (from jupysql)
  Downloading ploomber_extension-0.1.0-py3-none-any.whl (193 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 193.0/193.0 kB 15.0 MB/s eta 0:00:00
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0.1)
Collecting posthog (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-3.5.0-py2.py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.3/41.3 kB 5.4 MB/s eta 0:00:00
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->jupysql) (2.1.5)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->jupysql) (0.2.13)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (3.0.3)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.31.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2024.2.2)
Installing collected packages: monotonic, backoff, posthog, ploomber-core, ploomber-extension, jupysql-plugin, jupysql
Successfully installed backoff-2.2.1 jupysql-0.10.10 jupysql-plugin-0.4.3 monotonic-1.6 ploomber-core-0.2.25 ploomber-extension-0.1.0 posthog-3.5.0

In [4]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

Conexión a __MySQL__

In [5]:
%load_ext sql

Deploy Panel apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

Sintaxis conexión:  
%sql mysql+pymysql://user:pass@server/database
Ejemplo servidor remoto:   
%sql mysql+pymysql://ur3fz287jlfaxbko:PFV2KWMAT0FRVO8rFxsq@bxfxbvopjfx0wnm4jjnz-mysql.services.clever-cloud.com/bxfxbvopjfx0wnm4jjnz

Para crear la tabla:   
    CREATE TABLE T_RESULTS
(
g_date date,
home_team varchar(50),
away_team varchar(50),
home_score int,
away_score int,
tournament varchar(50),
city varchar(50),
country varchar(50),
neutral boolean
);

In [ ]:
# BBDD1
host = 'bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com'
database = 'bow6egk4eo4nviriaqyd'
user = ''
password = ''

In [ ]:
# BBDD2
#host = 'btnx2p2hbjqww02f8iec-mysql.services.clever-cloud.com'
#database = 'btnx2p2hbjqww02f8iec'
#user = ''
#password = ''

In [6]:
# BBDD3
host = 'baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com'
database = 'baxle3kk8kl1mrj9hxjs'
user = 'uib76wzqjb2qr1bs'
password = 'cw9P88P4KOsD4Ku49kx5'

In [ ]:
# create sqlalchemy engine
conn = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")

In [ ]:
#conn.close()

In [7]:
cadena_conexion = f'mysql+pymysql://{user}:{password}@{host}/{database}'
cadena_conexion

'mysql+pymysql://uib76wzqjb2qr1bs:cw9P88P4KOsD4Ku49kx5@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

In [ ]:
%sql {{cadena_conexion}}

UsageError: No active connection.

To fix it:

Pass a valid connection string:
    Example: %sql postgresql://username:password@hostname/dbname

OR

Set the environment variable $DATABASE_URL

For more details, see: https://jupysql.ploomber.io/en/latest/connecting.html
If you need help solving this issue, send us a message: https://ploomber.io/community

Si no funciona ponerlo con la cadena completa

In [8]:
%sql mysql+pymysql://uib76wzqjb2qr1bs:cw9P88P4KOsD4Ku49kx5@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs

Connecting to 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

In [9]:
%sql show tables

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

4 rows affected.

+--------------------------------+
| Tables_in_baxle3kk8kl1mrj9hxjs |
+--------------------------------+
|           T_CLIENTES           |
|          T_COUNTRIES           |
|           T_RESULTS            |
|           empleados            |
+--------------------------------+

In [16]:
%%sql
select * from T_RESULTS

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

46289 rows affected.

+------------+-----------+-----------+------------+------------+------------+---------+----------+---------+
|   g_date   | home_team | away_team | home_score | away_score | tournament |   city  | country  | neutral |
+------------+-----------+-----------+------------+------------+------------+---------+----------+---------+
| 1872-11-30 |  Scotland |  England  |     0      |     0      |  Friendly  | Glasgow | Scotland |    0    |
| 1873-03-08 |  England  |  Scotland |     4      |     2      |  Friendly  |  London | England  |    0    |
| 1874-03-07 |  Scotland |  England  |     2      |     1      |  Friendly  | Glasgow | Scotland |    0    |
| 1875-03-06 |  England  |  Scotland |     2      |     2      |  Friendly  |  London | England  |    0    |
| 1876-03-04 |  Scotland |  England  |     3      |     0      |  Friendly  | Glasgow | Scotland |    0    |
| 1876-03-25 |  Scotland |   Wales   |     4      |     0      |  Friendly  | Glasgow | Scotland |    0    |
| 1877-03-03 |  England  |  Scotland |     1      |     3      |  Friendly  |  London | England  |    0    |
| 1877-03-05 |   Wales   |  Scotland |     0      |     2      |  Friendly  | Wrexham |  Wales   |    0    |
| 1878-03-02 |  Scotland |  England  |     7      |     2      |  Friendly  | Glasgow | Scotland |    0    |
| 1878-03-23 |  Scotland |   Wales   |     9      |     0      |  Friendly  | Glasgow | Scotland |    0    |
+------------+-----------+-----------+------------+------------+------------+---------+----------+---------+
Truncated to displaylimit of 10.

In [ ]:
#CONSULTA CON CAMPO CALCULADO CON ‘CASE WHEN’

%%sql
select home_team as Local, away_team as Visitante,
 CASE
        WHEN home_score > away_score THEN 'Gana local'
        WHEN home_score < away_score THEN 'Gana visitante'
        ELSE 'Empate'
    END AS Resultado
from T_RESULTS

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

46289 rows affected.

+----------+-----------+----------------+
|  Local   | Visitante |   Resultado    |
+----------+-----------+----------------+
| Scotland |  England  |     Empate     |
| England  |  Scotland |   Gana local   |
| Scotland |  England  |   Gana local   |
| England  |  Scotland |     Empate     |
| Scotland |  England  |   Gana local   |
| Scotland |   Wales   |   Gana local   |
| England  |  Scotland | Gana visitante |
|  Wales   |  Scotland | Gana visitante |
| Scotland |  England  |   Gana local   |
| Scotland |   Wales   |   Gana local   |
+----------+-----------+----------------+
Truncated to displaylimit of 10.

In [32]:
#CONSULTA QUE CONTENGA UN JOIN y UN GROUP BY

%%sql
select Year(g_date) as Año,Month(g_date) as Mes, sum(home_score+away_score) Cantidad_goles_mes
from T_RESULTS r
LEFT JOIN T_COUNTRIES c ON r.country = c.country
group by Year(g_date),Month(g_date)
order by Year(g_date),Month(g_date) desc

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

1444 rows affected.

+------+-----+--------------------+
| Año  | Mes | Cantidad_goles_mes |
+------+-----+--------------------+
| 1872 |  11 |         0          |
| 1873 |  3  |         6          |
| 1874 |  3  |         3          |
| 1875 |  3  |         4          |
| 1876 |  3  |         7          |
| 1877 |  3  |         6          |
| 1878 |  3  |         18         |
| 1879 |  4  |         12         |
| 1879 |  1  |         3          |
| 1880 |  3  |         20         |
+------+-----+--------------------+
Truncated to displaylimit of 10.

In [ ]:
#CONSULTA QUE USE OPERACIONES DE VENTANAS (‘OVER PARTITION’)

%%sql
select g_date, home_team, away_team, home_score, away_score, tournament,
avg(home_score) OVER  w  as media_gol_local
from T_RESULTS
where home_team = 'spain'
window w as (PARTITION BY home_team)

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

385 rows affected.

+------------+-----------+---------------------+------------+------------+-------------------------+-----------------+
|   g_date   | home_team |      away_team      | home_score | away_score |        tournament       | media_gol_local |
+------------+-----------+---------------------+------------+------------+-------------------------+-----------------+
| 2002-06-02 |   Spain   |       Slovenia      |     3      |     1      |      FIFA World Cup     |      2.3818     |
| 2002-06-07 |   Spain   |       Paraguay      |     3      |     1      |      FIFA World Cup     |      2.3818     |
| 2002-06-16 |   Spain   | Republic of Ireland |     1      |     1      |      FIFA World Cup     |      2.3818     |
| 2002-10-12 |   Spain   |   Northern Ireland  |     3      |     0      | UEFA Euro qualification |      2.3818     |
| 2002-10-16 |   Spain   |       Paraguay      |     0      |     0      |         Friendly        |      2.3818     |
| 2002-11-20 |   Spain   |       Bulgaria      |     1      |     0      |         Friendly        |      2.3818     |
| 2003-02-12 |   Spain   |       Germany       |     3      |     1      |         Friendly        |      2.3818     |
| 2003-04-02 |   Spain   |       Armenia       |     3      |     0      | UEFA Euro qualification |      2.3818     |
| 2003-04-30 |   Spain   |       Ecuador       |     4      |     0      |         Friendly        |      2.3818     |
| 2003-06-07 |   Spain   |        Greece       |     0      |     1      | UEFA Euro qualification |      2.3818     |
+------------+-----------+---------------------+------------+------------+-------------------------+-----------------+
Truncated to displaylimit of 10.

In [ ]:
#CONSULTA QUE USE CTE (common table expresion)

%%sql
WITH PuntajePromedio AS (SELECT SUM(away_score) AS puntaje_promedio FROM T_RESULTS group by away_team)
SELECT home_team, away_team, tournament, PuntajePromedio.puntaje_promedio
FROM PuntajePromedio, T_RESULTS

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

336 rows affected.

+------------------+----------------+
|      equipo      | total_partidos |
+------------------+----------------+
|     Scotland     |      824       |
|     England      |      1059      |
|      Wales       |      702       |
| Northern Ireland |      683       |
|  United States   |      750       |
|     Uruguay      |      938       |
|     Austria      |      831       |
|     Hungary      |      978       |
|    Argentina     |      1037      |
|     Belgium      |      819       |
+------------------+----------------+
Truncated to displaylimit of 10.

In [34]:
%%sql

select * from T_RESULTS limit 3

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

3 rows affected.

+------------+-----------+-----------+------------+------------+------------+---------+----------+---------+
|   g_date   | home_team | away_team | home_score | away_score | tournament |   city  | country  | neutral |
+------------+-----------+-----------+------------+------------+------------+---------+----------+---------+
| 1872-11-30 |  Scotland |  England  |     0      |     0      |  Friendly  | Glasgow | Scotland |    0    |
| 1873-03-08 |  England  |  Scotland |     4      |     2      |  Friendly  |  London | England  |    0    |
| 1874-03-07 |  Scotland |  England  |     2      |     1      |  Friendly  | Glasgow | Scotland |    0    |
+------------+-----------+-----------+------------+------------+------------+---------+----------+---------+

In [ ]:
%config SqlMagic.displaylimit = 30

In [ ]:
pd.read_sql_query("show tables", 'mysql+pymysql://uib76wzqjb2qr1bs:cw9P88P4KOsD4Ku49kx5@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs')

  Tables_in_baxle3kk8kl1mrj9hxjs
0                    T_COUNTRIES
1                      T_RESULTS
2                     T_RESULTS2

In [ ]:
%sql desc T_RESULTS

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

9 rows affected.

+------------+------------+------+-----+---------+-------+
|   Field    |    Type    | Null | Key | Default | Extra |
+------------+------------+------+-----+---------+-------+
|   g_date   |    text    | YES  |     |   None  |       |
| home_team  |    text    | YES  |     |   None  |       |
| away_team  |    text    | YES  |     |   None  |       |
| home_score |   bigint   | YES  |     |   None  |       |
| away_score |   bigint   | YES  |     |   None  |       |
| tournament |    text    | YES  |     |   None  |       |
|    city    |    text    | YES  |     |   None  |       |
|  country   |    text    | YES  |     |   None  |       |
|  neutral   | tinyint(1) | YES  |     |   None  |       |
+------------+------------+------+-----+---------+-------+

### Partidos más recientes

In [ ]:
%%sql
select * from T_RESULTS order by g_date desc limit 10

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

10 rows affected.

+------------+--------------+--------------+------------+------------+------------------------+-----------+-------------+---------+
|   g_date   |  home_team   |  away_team   | home_score | away_score |       tournament       |    city   |   country   | neutral |
+------------+--------------+--------------+------------+------------+------------------------+-----------+-------------+---------+
| 2024-02-11 | Ivory Coast  |   Nigeria    |     2      |     1      | African Cup of Nations |   Ebimpé  | Ivory Coast |    0    |
| 2024-02-10 | South Africa |   DR Congo   |     0      |     0      | African Cup of Nations |  Abidjan  | Ivory Coast |    1    |
| 2024-02-10 |    Qatar     |    Jordan    |     3      |     1      |     AFC Asian Cup      |   Lusail  |    Qatar    |    0    |
| 2024-02-07 |   Nigeria    | South Africa |     1      |     1      | African Cup of Nations |   Bouaké  | Ivory Coast |    1    |
| 2024-02-07 | Ivory Coast  |   DR Congo   |     1      |     0      | African Cup of Nations |   Ebimpé  | Ivory Coast |    0    |
| 2024-02-07 |    Qatar     |     Iran     |     3      |     2      |     AFC Asian Cup      |    Doha   |    Qatar    |    0    |
| 2024-02-06 |    Jordan    | South Korea  |     2      |     0      |     AFC Asian Cup      | Al Rayyan |    Qatar    |    1    |
| 2024-02-03 |  Costa Rica  | El Salvador  |     2      |     0      |        Friendly        |  San José |  Costa Rica |    0    |
| 2024-02-03 |     Iran     |    Japan     |     2      |     1      |     AFC Asian Cup      | Al Rayyan |    Qatar    |    1    |
| 2024-02-03 |    Qatar     |  Uzbekistan  |     1      |     1      |     AFC Asian Cup      |  Al Khor  |    Qatar    |    0    |
+------------+--------------+--------------+------------+------------+------------------------+-----------+-------------+---------+

#### Partidos Mundial de Qatar

In [ ]:
%%sql
select * from T_RESULTS
where tournament = 'FIFA World Cup' and country = 'Qatar'
and (home_team = 'Spain' or away_team = 'Spain')

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

4 rows affected.

+------------+-----------+------------+------------+------------+----------------+-----------+---------+---------+
|   g_date   | home_team | away_team  | home_score | away_score |   tournament   |    city   | country | neutral |
+------------+-----------+------------+------------+------------+----------------+-----------+---------+---------+
| 2022-11-23 |   Spain   | Costa Rica |     7      |     0      | FIFA World Cup |    Doha   |  Qatar  |    1    |
| 2022-11-27 |   Spain   |  Germany   |     1      |     1      | FIFA World Cup |  Al Khor  |  Qatar  |    1    |
| 2022-12-01 |   Japan   |   Spain    |     2      |     1      | FIFA World Cup | Al Rayyan |  Qatar  |    1    |
| 2022-12-06 |  Morocco  |   Spain    |     0      |     0      | FIFA World Cup | Al Rayyan |  Qatar  |    1    |
+------------+-----------+------------+------------+------------+----------------+-----------+---------+---------+

In [ ]:
%%sql
select * from T_RESULTS where g_date > '2023-11-01' limit 10

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

10 rows affected.

+------------+-----------------------+--------------+------------+------------+------------------------------+------------+-----------------------+---------+
|   g_date   |       home_team       |  away_team   | home_score | away_score |          tournament          |    city    |        country        | neutral |
+------------+-----------------------+--------------+------------+------------+------------------------------+------------+-----------------------+---------+
| 2023-11-11 |       Guatemala       |   Jamaica    |     0      |     0      |           Friendly           |  Harrison  |     United States     |    1    |
| 2023-11-12 |         Kosovo        |    Israel    |     1      |     0      |   UEFA Euro qualification    |  Pristina  |         Kosovo        |    0    |
| 2023-11-15 |        Ethiopia       | Sierra Leone |     0      |     0      | FIFA World Cup qualification | El Jadida  |        Morocco        |    1    |
| 2023-11-15 |        DR Congo       |  Mauritania  |     2      |     0      | FIFA World Cup qualification |  Kinshasa  |        DR Congo       |    0    |
| 2023-11-15 |         Rwanda        |   Zimbabwe   |     0      |     0      | FIFA World Cup qualification |   Butare   |         Rwanda        |    0    |
| 2023-11-15 |   Equatorial Guinea   |   Namibia    |     1      |     0      | FIFA World Cup qualification |   Malabo   |   Equatorial Guinea   |    0    |
| 2023-11-15 |        Belgium        |    Serbia    |     1      |     0      |           Friendly           |   Leuven   |        Belgium        |    0    |
| 2023-11-15 |         Israel        | Switzerland  |     1      |     1      |   UEFA Euro qualification    |  Felcsút   |        Hungary        |    1    |
| 2023-11-16 |      Sint Maarten     |  Guadeloupe  |     0      |     2      |   CONCACAF Nations League    | Bridgetown |        Barbados       |    1    |
| 2023-11-16 | Saint Kitts and Nevis | Saint Lucia  |     0      |     0      |   CONCACAF Nations League    | Basseterre | Saint Kitts and Nevis |    0    |
+------------+-----------------------+--------------+------------+------------+------------------------------+------------+-----------------------+---------+

In [ ]:
%sql select distinct year(g_date) from T_RESULTS

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

153 rows affected.

+--------------+
| year(g_date) |
+--------------+
|     1872     |
|     1873     |
|     1874     |
|     1875     |
|     1876     |
|     1877     |
|     1878     |
|     1879     |
|     1880     |
|     1881     |
|     1882     |
|     1883     |
|     1884     |
|     1885     |
|     1886     |
|     1887     |
|     1888     |
|     1889     |
|     1890     |
|     1891     |
|     1892     |
|     1893     |
|     1894     |
|     1895     |
|     1896     |
|     1897     |
|     1898     |
|     1899     |
|     1900     |
|     1901     |
+--------------+
Truncated to displaylimit of 30.

In [ ]:
sql = """
select tournament, count(*) as num_partidos,  sum(home_score + away_score) as goles_marcados
from T_RESULTS
where g_date >= '2000-01-01'
group by tournament
having num_partidos > 1000
order by  num_partidos  desc
limit 10
"""

In [ ]:
res = %sql $sql

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '$sql' at line 1")
[SQL: $sql]
(Background on this error at: https://sqlalche.me/e/14/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community

In [ ]:
res

[('Friendly', 7716, Decimal('19490')),
 ('FIFA World Cup qualification', 5080, Decimal('14526')),
 ('UEFA Euro qualification', 1523, Decimal('4254')),
 ('African Cup of Nations qualification', 1078, Decimal('2546'))]

In [ ]:
%%sql
select tournament, count(*) as num_partidos,  sum(home_score + away_score) as goles_marcados
from T_RESULTS
where g_date >= '2000-01-01'
group by tournament
having num_partidos > 1000
order by  num_partidos  desc
limit 10

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

4 rows affected.

+--------------------------------------+--------------+----------------+
|              tournament              | num_partidos | goles_marcados |
+--------------------------------------+--------------+----------------+
|               Friendly               |     7822     |     19943      |
|     FIFA World Cup qualification     |     5077     |     14512      |
|       UEFA Euro qualification        |     1523     |      4254      |
| African Cup of Nations qualification |     1205     |      2854      |
+--------------------------------------+--------------+----------------+

In [ ]:
%%sql
SELECT city, count(*) as num_partidos
FROM T_RESULTS
WHERE g_date > '2020-01-01' and country = 'Spain'
GROUP BY city
ORDER BY num_partidos desc

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

19 rows affected.

+-----------------------+--------------+
|          city         | num_partidos |
+-----------------------+--------------+
|        Seville        |      8       |
|         Málaga        |      7       |
|         Murcia        |      7       |
|         Madrid        |      5       |
|       Barcelona       |      4       |
| San Pedro del Pinatar |      3       |
|        Marbella       |      3       |
|        Granada        |      2       |
|         Girona        |      2       |
|        Sevilla        |      2       |
|       Valladolid      |      1       |
|        Valencia       |      1       |
|         Lorca         |      1       |
|        Zaragoza       |      1       |
|        Pamplona       |      1       |
|       La Coruña       |      1       |
|        Badajoz        |      1       |
|        Leganés        |      1       |
|         Eibar         |      1       |
+-----------------------+--------------+

In [ ]:
%%sql
select YEAR(g_date), avg(home_score + away_score) from T_RESULTS
WHERE year(g_date) >= 2000
group by year(g_date)
order by year(g_date) asc

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

25 rows affected.

+--------------+------------------------------+
| YEAR(g_date) | avg(home_score + away_score) |
+--------------+------------------------------+
|     2000     |            2.8279            |
|     2001     |            3.0466            |
|     2002     |            2.6198            |
|     2003     |            2.9126            |
|     2004     |            2.9129            |
|     2005     |            2.7948            |
|     2006     |            2.7078            |
|     2007     |            2.7485            |
|     2008     |            2.7107            |
|     2009     |            2.6703            |
|     2010     |            2.5615            |
|     2011     |            2.7786            |
|     2012     |            2.7742            |
|     2013     |            2.6866            |
|     2014     |            2.6611            |
|     2015     |            2.7273            |
|     2016     |            2.7647            |
|     2017     |            2.7161            |
|     2018     |            2.6329            |
|     2019     |            2.9096            |
|     2020     |            2.4409            |
|     2021     |            2.7450            |
|     2022     |            2.4919            |
|     2023     |            2.8360            |
|     2024     |            2.4662            |
+--------------+------------------------------+

In [ ]:
%%sql
SELECT city, count(*) as num_partidos
FROM T_RESULTS
WHERE g_date > '2000-01-01'
GROUP BY city
ORDER BY num_partidos desc
LIMIT 5

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

5 rows affected.

+-------------+--------------+
|     city    | num_partidos |
+-------------+--------------+
|     Doha    |     382      |
| Kuwait City |     183      |
|   Bangkok   |     181      |
|    Amman    |     180      |
|    Dubai    |     163      |
+-------------+--------------+

#### Obtenemos selecciones distintas de la BBDD

In [ ]:
%%sql
select distinct home_team from T_RESULTS

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

327 rows affected.

+------------------+
|    home_team     |
+------------------+
|     Scotland     |
|     England      |
|      Wales       |
| Northern Ireland |
|  United States   |
|     Uruguay      |
|     Austria      |
|     Hungary      |
|    Argentina     |
|     Belgium      |
|      France      |
|     Guernsey     |
|      Jersey      |
|   Netherlands    |
|  Czechoslovakia  |
|     Alderney     |
|   Switzerland    |
|      Sweden      |
|     Germany      |
|      Italy       |
|      Chile       |
|      Norway      |
|     Finland      |
|    Luxembourg    |
|      Russia      |
|     Denmark      |
|    Catalonia     |
|  Basque Country  |
|      Brazil      |
|      Japan       |
+------------------+
Truncated to displaylimit of 30.

#### Partidos por competición

In [ ]:
%%sql
select tournament, count(*) as num_partidos
from T_RESULTS group by tournament order by num_partidos desc

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

163 rows affected.

+--------------------------------------+--------------+
|              tournament              | num_partidos |
+--------------------------------------+--------------+
|               Friendly               |    17832     |
|     FIFA World Cup qualification     |     8013     |
|       UEFA Euro qualification        |     2815     |
| African Cup of Nations qualification |     2116     |
|            FIFA World Cup            |     964      |
|             Copa América             |     841      |
|        African Cup of Nations        |     793      |
|     AFC Asian Cup qualification      |     764      |
|              CECAFA Cup              |     620      |
|   CFU Caribbean Cup qualification    |     606      |
|          Merdeka Tournament          |     595      |
|      British Home Championship       |     517      |
|         UEFA Nations League          |     472      |
|            AFC Asian Cup             |     421      |
|               Gulf Cup               |     395      |
|               Gold Cup               |     389      |
|             Island Games             |     379      |
|             Asian Games              |     368      |
|              UEFA Euro               |     337      |
|              COSAFA Cup              |     309      |
|       CONCACAF Nations League        |     308      |
|         Nordic Championship          |     283      |
|          CFU Caribbean Cup           |     251      |
|              King's Cup              |     243      |
|           AFF Championship           |     239      |
|          Amílcar Cabral Cup          |     235      |
|             Muratti Vase             |     220      |
|         South Pacific Games          |     205      |
|        Southeast Asian Games         |     182      |
|        CONCACAF Championship         |     170      |
+--------------------------------------+--------------+
Truncated to displaylimit of 30.

#### Partidos España

In [ ]:
%%sql
select * from T_RESULTS where (home_team = 'Spain' or away_team = 'Spain')
and g_date > '2000-01-01'  limit 10

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

10 rows affected.

+------------+------------+-----------+------------+------------+------------+------------+-------------+---------+
|   g_date   | home_team  | away_team | home_score | away_score | tournament |    city    |   country   | neutral |
+------------+------------+-----------+------------+------------+------------+------------+-------------+---------+
| 2000-01-26 |   Spain    |   Poland  |     3      |     0      |  Friendly  | Cartagena  |    Spain    |    0    |
| 2000-02-23 |  Croatia   |   Spain   |     0      |     0      |  Friendly  |   Split    |   Croatia   |    0    |
| 2000-03-29 |   Spain    |   Italy   |     2      |     0      |  Friendly  | Barcelona  |    Spain    |    0    |
| 2000-06-03 |   Sweden   |   Spain   |     1      |     1      |  Friendly  | Gothenburg |    Sweden   |    0    |
| 2000-06-07 | Luxembourg |   Spain   |     0      |     1      |  Friendly  | Luxembourg |  Luxembourg |    0    |
| 2000-06-13 |   Spain    |   Norway  |     0      |     1      | UEFA Euro  | Rotterdam  | Netherlands |    1    |
| 2000-06-18 |  Slovenia  |   Spain   |     1      |     2      | UEFA Euro  | Amsterdam  | Netherlands |    1    |
| 2000-06-21 |   Serbia   |   Spain   |     3      |     4      | UEFA Euro  |   Bruges   |   Belgium   |    1    |
| 2000-06-25 |   Spain    |   France  |     1      |     2      | UEFA Euro  |   Bruges   |   Belgium   |    1    |
| 2000-08-16 |  Germany   |   Spain   |     4      |     1      |  Friendly  |  Hanover   |   Germany   |    0    |
+------------+------------+-----------+------------+------------+------------+------------+-------------+---------+

In [ ]:
%%sql
select tournament, count(*)  from T_RESULTS
where (home_team = 'Spain' or away_team = 'Spain')
and home_score = away_score
and g_date > '2000-01-01'
group by tournament

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

7 rows affected.

+------------------------------+----------+
|          tournament          | count(*) |
+------------------------------+----------+
|           Friendly           |    23    |
| FIFA World Cup qualification |    12    |
|        FIFA World Cup        |    7     |
|   UEFA Euro qualification    |    5     |
|          UEFA Euro           |    8     |
|      Confederations Cup      |    1     |
|     UEFA Nations League      |    5     |
+------------------------------+----------+

#### EJER1.

Generar una SQL que obtenga las victorias en casa y fuera de España desde 2000 a la actualidad. El resultado debe quedar como sigue:   
__victorias__	__tipo__  
125	     home  
88	     away

In [ ]:
# solución1

In [ ]:
%%sql
select count(home_team) as victorias, "en casa" as zona from T_RESULTS where home_team = 'Spain' and home_score > away_score and g_date > '2000-01-01'
union
select count(away_team) as victorias, "fuera de casa" as zona from T_RESULTS where away_team = 'Spain' and home_score < away_score and g_date > '2000-01-01'

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

2 rows affected.

+-----------+---------------+
| victorias |      zona     |
+-----------+---------------+
|    125    |    en casa    |
|     88    | fuera de casa |
+-----------+---------------+

#### EJER2.

Generar una consulta que obtenga los 20 últimos partidos de España y añadir un campo adicional a la salida llamado resultado que indique si es victoria, derrota o empate

In [ ]:
# solución2

In [ ]:
%sql DROP TABLE t_spain_matches

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

RuntimeError: (pymysql.err.OperationalError) (1051, "Unknown table 'baxle3kk8kl1mrj9hxjs.t_spain_matches'")
[SQL: DROP TABLE t_spain_matches]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

Creamos una tabla con los partidos de España desde el año 2000 y los indicadores que nos interesan

In [ ]:
%%sql
create table t_spain_matches as (
select g_date, tournament, home_team, away_team, home_score, away_score,
case
    when (home_team = 'Spain' and home_score > away_score) then 'victoria'
    when (away_team = 'Spain' and home_score < away_score) then 'victoria'
    when (home_team = 'Spain' and home_score < away_score) then 'derrota'
    when (away_team = 'Spain' and home_score > away_score) then 'derrota'
    when home_score = away_score then 'empate'
    else 'desconocido'
end as resultado,
case
    when (home_team = 'Spain') then home_score
    when (away_team = 'Spain') then away_score
    else 0
end  as goles_españa,
case
    when (home_team = 'Spain') then away_score
    when (away_team = 'Spain') then home_score
    else 0
end  as goles_contrario
FROM T_RESULTS
where (home_team = 'Spain' or away_team = 'Spain')
and g_date > '2000-01-01'
)

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

RuntimeError: (pymysql.err.OperationalError) (1142, "INSERT command denied to user 'uib76wzqjb2qr1bs'@'34.34.27.89' for table 't_spain_matches'")
[SQL: create table t_spain_matches as (
select g_date, tournament, home_team, away_team, home_score, away_score,
case
    when (home_team = 'Spain' and home_score > away_score) then 'victoria'
    when (away_team = 'Spain' and home_score < away_score) then 'victoria'
    when (home_team = 'Spain' and home_score < away_score) then 'derrota'
    when (away_team = 'Spain' and home_score > away_score) then 'derrota'
    when home_score = away_score then 'empate'
    else 'desconocido'
end as resultado,
case
    when (home_team = 'Spain') then home_score
    when (away_team = 'Spain') then away_score
    else 0
end  as goles_españa,
case
    when (home_team = 'Spain') then away_score
    when (away_team = 'Spain') then home_score
    else 0
end  as goles_contrario
FROM T_RESULTS
where (home_team = 'Spain' or away_team = 'Spain')
and g_date > '2000-01-01'
)]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [ ]:
%sql show tables

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

3 rows affected.

+--------------------------------+
| Tables_in_baxle3kk8kl1mrj9hxjs |
+--------------------------------+
|          T_COUNTRIES           |
|           T_RESULTS            |
|           T_RESULTS2           |
+--------------------------------+

In [ ]:
%sql select * from t_spain_matches order by g_date desc limit 10

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
10 rows affected.

[('2023-11-19', 'UEFA Euro qualification', 'Spain', 'Georgia', 3, 1, 'victoria', 3, 1),
 ('2023-11-16', 'UEFA Euro qualification', 'Cyprus', 'Spain', 1, 3, 'victoria', 3, 1),
 ('2023-10-15', 'UEFA Euro qualification', 'Norway', 'Spain', 0, 1, 'victoria', 1, 0),
 ('2023-10-12', 'UEFA Euro qualification', 'Spain', 'Scotland', 2, 0, 'victoria', 2, 0),
 ('2023-09-12', 'UEFA Euro qualification', 'Spain', 'Cyprus', 6, 0, 'victoria', 6, 0),
 ('2023-09-08', 'UEFA Euro qualification', 'Georgia', 'Spain', 1, 7, 'victoria', 7, 1),
 ('2023-06-18', 'UEFA Nations League', 'Croatia', 'Spain', 0, 0, 'empate', 0, 0),
 ('2023-06-15', 'UEFA Nations League', 'Spain', 'Italy', 2, 1, 'victoria', 2, 1),
 ('2023-03-28', 'UEFA Euro qualification', 'Scotland', 'Spain', 2, 0, 'derrota', 0, 2),
 ('2023-03-25', 'UEFA Euro qualification', 'Spain', 'Norway', 3, 0, 'victoria', 3, 0)]

In [ ]:
%%sql
select goles_españa, count(*) from spain_matches
where g_date >= '2022-01-01'
group by goles_españa
order by goles_españa

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
7 rows affected.

[(0, 3), (1, 6), (2, 4), (3, 2), (5, 1), (6, 1), (7, 2)]

#### EJER3

Partiendo de la tabla generada en el paso anterior. Obtener la media de goles de España por año desde 2000. La salida deber ser:   
__año__ __media_goleadora__    
2000	1.5000  
2001	2.2222    
2002	1.7692    
(more...)

In [ ]:
# solución3

Obtenemos la media por torneo

In [ ]:
%%sql
select tournament, avg(goles_españa) media_goleadora
from spain_matches
where g_date >= '2000-01-01'
group by tournament
order by media_goleadora  desc
limit 10

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(pymysql.err.ProgrammingError) (1146, "Table 'baxle3kk8kl1mrj9hxjs.spain_matches' doesn't exist")
[SQL: select tournament, avg(goles_españa) media_goleadora
from spain_matches
where g_date >= '2000-01-01'
group by tournament
order by media_goleadora  desc
limit 10]
(Background on this error at: https://sqlalche.me/e/14/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community

In [ ]:
%%sql
select tournament, resultado,  count(*)  as partidos
from spain_matches
group by tournament, resultado
order by tournament, resultado

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
21 rows affected.

[('Confederations Cup', 'derrota', 2),
 ('Confederations Cup', 'empate', 1),
 ('Confederations Cup', 'victoria', 7),
 ('FIFA World Cup', 'derrota', 19),
 ('FIFA World Cup', 'empate', 17),
 ('FIFA World Cup', 'victoria', 31),
 ('FIFA World Cup qualification', 'derrota', 12),
 ('FIFA World Cup qualification', 'empate', 26),
 ('FIFA World Cup qualification', 'victoria', 87),
 ('Friendly', 'derrota', 69),
 ('Friendly', 'empate', 91),
 ('Friendly', 'victoria', 182),
 ('UEFA Euro', 'derrota', 10),
 ('UEFA Euro', 'empate', 15),
 ('UEFA Euro', 'victoria', 21),
 ('UEFA Euro qualification', 'derrota', 19),
 ('UEFA Euro qualification', 'empate', 18),
 ('UEFA Euro qualification', 'victoria', 92),
 ('UEFA Nations League', 'derrota', 5),
 ('UEFA Nations League', 'empate', 5),
 ('UEFA Nations League', 'victoria', 10)]

Obtenemos el listado de todos los rivales de cada equipo como local durante 2023

In [ ]:
%%sql
SELECT home_team, count(*) as num_partidos,
GROUP_CONCAT(away_team) as rivales
FROM T_RESULTS
WHERE (g_date >= '2023-01-01' and g_date <= '2023-12-31'    )
group by home_team

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

231 rows affected.

+------------------------+--------------+------------------------------------------------------------------------------------------------------------------+
|       home_team        | num_partidos |                                                     rivales                                                      |
+------------------------+--------------+------------------------------------------------------------------------------------------------------------------+
|      Afghanistan       |      2       |                                                 Kuwait,Mongolia                                                  |
|         Åland          |      3       |                                   Isle of Wight,Western Isles,Falkland Islands                                   |
|        Albania         |      5       |                               Moldova,Bulgaria,Faroe Islands,Poland,Czech Republic                               |
|        Algeria         |      6       |                                 Tanzania,Cape Verde,Egypt,Tunisia,Niger,Somalia                                  |
|        Andorra         |      5       |                                    Switzerland,Belarus,Kosovo,Israel,Romania                                     |
|         Angola         |      4       |                                       Ghana,Madagascar,Mozambique,DR Congo                                       |
|        Anguilla        |      3       |                                         Bonaire,Saint Lucia,Saint Martin                                         |
|  Antigua and Barbuda   |      5       |                                  Guadeloupe,Barbados,Guyana,Bahamas,Puerto Rico                                  |
|       Argentina        |      6       |                                Uruguay,Paraguay,Australia,Ecuador,Panama,Curaçao                                 |
|        Armenia         |      5       |                                        Turkey,Cyprus,Latvia,Wales,Croatia                                        |
|         Aruba          |      2       |                                   United States Virgin Islands,Cayman Islands                                    |
|       Australia        |      4       |                                      New Zealand,Bangladesh,Ecuador,Ecuador                                      |
|        Austria         |      6       |                                Azerbaijan,Estonia,Germany,Belgium,Sweden,Moldova                                 |
|       Azerbaijan       |      5       |                                      Estonia,Belgium,Jordan,Austria,Sweden                                       |
|        Bahamas         |      3       |                               Puerto Rico,Antigua and Barbuda,Trinidad and Tobago                                |
|        Bahrain         |      10      | United Arab Emirates,Kuwait,Oman,Palestine,Syria,Turkmenistan,Kyrgyzstan,Philippines,United Arab Emirates,Kuwait |
|       Bangladesh       |      8       |                  Maldives,Afghanistan,Afghanistan,Maldives,Lebanon,Malawi,Seychelles,Seychelles                  |
|        Barbados        |      4       |                                   Cuba,Nicaragua,Montserrat,Dominican Republic                                   |
|        Belarus         |      5       |                                    Romania,Andorra,Israel,Kosovo,Switzerland                                     |
|        Belgium         |      5       |                                     Austria,Estonia,Sweden,Serbia,Azerbaijan                                     |
|         Belize         |      4       |                         French Guiana,Saint Vincent and the Grenadines,Bermuda,Guatemala                         |
|         Benin          |      3       |                                            Rwanda,Madagascar,Senegal                                             |
|        Bermuda         |      4       |                           Belize,Saint Vincent and the Grenadines,French Guiana,Guyana                           |
|         Bhutan         |      4       |                                        Laos,Lebanon,Bangladesh,Hong Kong                                         |
|        Bolivia         |      5       |                                       Peru,Chile,Panama,Argentina,Ecuador                                        |
|        Bonaire         |      3       |                                  Anguilla,Saint Martin,Turks and Caicos Islands                                  |
| Bosnia and Herzegovina |      5       |                                Iceland,Portugal,Slovakia,Luxembourg,Liechtenstein                                |
|        Botswana        |      5       |                                Libya,Equatorial Guinea,Eswatini,Mozambique,Guinea                                |
|         Brazil         |      5       |                                    Argentina,Bolivia,Venezuela,Guinea,Senegal                                    |
| British Virgin Islands |      3       |                                  Turks and Caicos Islands,Puerto Rico,Dominica                                   |
+------------------------+--------------+------------------------------------------------------------------------------------------------------------------+
Truncated to displaylimit of 30.

### Consultas OLAP

Tenemos varios tipos:   
* __ROLLUP__: Esta cláusula se utiliza para calcular subtotales y totales generales en agregaciones. Genera filas adicionales que contienen subtotales de los datos, con base en las columnas especificadas en la consulta. Ejemplo si pongo producto y región, primero me da el agregado por producto y región y luego por producto para todas las regiones. El orden de la jerarqía lo marca el orden en el que especifico las columnas en el group by
* __CUBE__: Similar a ROLLUP, pero genera todas las combinaciones posibles de subtotales. Ejemplo si pongo producto y región, primero me da el agregado por producto y región , luego por producto para todas las regiones y también daría por región para todos los productos. Si pongo tres campos en el group by, haría agregado por los 3 campos, todos los posibles agregados cogiendo campos de 2 en 2 y finalmente de 1 en 1.
* __GROUPING SETS___: Esta opción permite especificar conjuntos de columnas para los cuales se deben calcular los subtotales. Es más flexible que ROLLUP y CUBE, ya que te permite especificar combinaciones específicas de columnas para las cuales deseas los subtotales

In [ ]:
%%sql
select tournament, country, count(*) as num_partidos,
GROUPING(tournament) AS grp_tournament,
GROUPING(country) AS grp_country
FROM T_RESULTS
where country in ('Spain', 'France', 'Germany', 'Italy')
and ((tournament like '%FIFA%') or (tournament like '%UEFA%'))
group by tournament, country
with ROLLUP

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

28 rows affected.

+--------------------------------+---------+--------------+----------------+-------------+
|           tournament           | country | num_partidos | grp_tournament | grp_country |
+--------------------------------+---------+--------------+----------------+-------------+
| CONMEBOL–UEFA Cup of Champions |  France |      2       |       0        |      0      |
| CONMEBOL–UEFA Cup of Champions |   None  |      2       |       0        |      1      |
|         FIFA World Cup         |  France |      82      |       0        |      0      |
|         FIFA World Cup         | Germany |     102      |       0        |      0      |
|         FIFA World Cup         |  Italy  |      69      |       0        |      0      |
|         FIFA World Cup         |  Spain  |      52      |       0        |      0      |
|         FIFA World Cup         |   None  |     305      |       0        |      1      |
|  FIFA World Cup qualification  |  France |      63      |       0        |      0      |
|  FIFA World Cup qualification  | Germany |      57      |       0        |      0      |
|  FIFA World Cup qualification  |  Italy  |      71      |       0        |      0      |
|  FIFA World Cup qualification  |  Spain  |      70      |       0        |      0      |
|  FIFA World Cup qualification  |   None  |     261      |       0        |      1      |
|           UEFA Euro            |  France |      70      |       0        |      0      |
|           UEFA Euro            | Germany |      19      |       0        |      0      |
|           UEFA Euro            |  Italy  |      23      |       0        |      0      |
|           UEFA Euro            |  Spain  |      8       |       0        |      0      |
|           UEFA Euro            |   None  |     120      |       0        |      1      |
|    UEFA Euro qualification     |  France |      60      |       0        |      0      |
|    UEFA Euro qualification     | Germany |      58      |       0        |      0      |
|    UEFA Euro qualification     |  Italy  |      68      |       0        |      0      |
|    UEFA Euro qualification     |  Spain  |      68      |       0        |      0      |
|    UEFA Euro qualification     |   None  |     254      |       0        |      1      |
|      UEFA Nations League       |  France |      8       |       0        |      0      |
|      UEFA Nations League       | Germany |      8       |       0        |      0      |
|      UEFA Nations League       |  Italy  |      14      |       0        |      0      |
|      UEFA Nations League       |  Spain  |      8       |       0        |      0      |
|      UEFA Nations League       |   None  |      38      |       0        |      1      |
|              None              |   None  |     980      |       1        |      1      |
+--------------------------------+---------+--------------+----------------+-------------+

In [ ]:
%%sql
select tournament, country, count(*) as num_partidos
FROM T_RESULTS
where country in ('Spain', 'France', 'Germany', 'Italy')
and ((tournament like '%FIFA%') or (tournament like '%UEFA%'))
group by tournament, country
with CUBE(tournament, country)

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'with CUBE(tournament, country)' at line 6")
[SQL: select tournament, country, count(*) as num_partidos
FROM T_RESULTS
where country in ('Spain', 'France', 'Germany', 'Italy')
and ((tournament like '%%FIFA%%') or (tournament like '%%UEFA%%'))
group by tournament, country
with CUBE(tournament, country)]
(Background on this error at: https://sqlalche.me/e/14/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community

#### EJER4

Partiendo de la tabla t_spain_matches obtener el sumatorio de goles de España agregado varios niveles para los campos:      año, tournament y resultado. Añadir indicadores que permitan detectar el nivel de agregación

In [ ]:
# solución4

### Uso de expresiones regulares

Que contenga la pala FIFA dentro de la cadena de caracteres uso de __LIKE__

In [ ]:
%%sql
select distinct tournament
from T_RESULTS
where tournament like '%FIFA%'

Running query in 'mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd'

3 rows affected.

+------------------------------+
|          tournament          |
+------------------------------+
|        FIFA World Cup        |
| FIFA World Cup qualification |
|  FIFA 75th Anniversary Cup   |
+------------------------------+

Que empiece por 'FIFA'

In [ ]:
%%sql
select distinct tournament
from T_RESULTS
where tournament REGEXP '^FIFA';

Running query in 'mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd'

3 rows affected.

+------------------------------+
|          tournament          |
+------------------------------+
|        FIFA World Cup        |
| FIFA World Cup qualification |
|  FIFA 75th Anniversary Cup   |
+------------------------------+

Que empice por FIFA y termine por Cup.   
El ^ indica el inicio del texto, .* representa cualquier cantidad de caracteres entre "FIFA" y "Cup", y el $ indica el final del texto

In [ ]:
%%sql
select distinct tournament
from T_RESULTS
where tournament REGEXP '^FIFA.*Cup$';

Running query in 'mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd'

2 rows affected.

+---------------------------+
|         tournament        |
+---------------------------+
|       FIFA World Cup      |
| FIFA 75th Anniversary Cup |
+---------------------------+

Igual al anterior, pero limitando el número de caracteres.  
{7} posiciones en medio

In [ ]:
%%sql
select distinct tournament
from T_RESULTS
where tournament REGEXP '^FIFA.{7}Cup$';

Running query in 'mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd'

1 rows affected.

+----------------+
|   tournament   |
+----------------+
| FIFA World Cup |
+----------------+

### Uniones (operaciones de tipo SET)

* __UNION__ : devuelve la unión de dos conjuntos de resultados eliminando las filas duplicadas.
* __UNION ALL__: La palabra clave ALL indica que las filas duplicadas se conservan después del cálculo UNION
* __INTERSECT__ : devuelve la intersección de dos conjuntos de resultados.
* __EXCEPT__, __MINUS__ : devuelve las filas que aparecen en el primer conjunto de resultados, pero no en el otro.

MySQL no admite INTERSECT, ni EXCEPT para hacerlos hay que usar la clásula IN + sunconsultas

In [ ]:
%%sql
(select * FROM T_RESULTS where year(g_date) in ('2022','2023') and home_team = 'Spain')
UNION
(select * FROM T_RESULTS where year(g_date) in ('2021','2022') and home_team = 'Spain')

In [ ]:
%%sql
(select * FROM T_RESULTS where year(g_date) in ('2022','2023') and home_team = 'Spain')
UNION ALL
(select * FROM T_RESULTS where year(g_date) in ('2021','2022') and home_team = 'Spain')

#### EJER5

#### Insertar un partido nuevo.

 Incluir en tournament vuestra iniciales para no "pisarnos" y luego poder buscarlo bien

In [ ]:
# insert

__Actualizar__ el partido que hemos insertado cambiando el pais y la ciudad

In [ ]:
# update

__Borrar__ el partido nuevo añadido

In [ ]:
# delete

#### EJER6

Obtener las ciudades en las que se han jugado más de 300 partidos. Mostrarlas ordenadas de más a menos partidos

In [ ]:
# solución6

Obtener la media de goles por partido agrupado por torneo, sacar un ranking de torneos con más goles por partido. Obtener los 10 primeros

In [ ]:
%%sql
select tournament, avg(home_score+away_score) as media_goles
from T_RESULTS group by tournament
order by media_goles desc
limit 10

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
10 rows affected.

[('Pacific Games', Decimal('6.0196')),
 ('Évence Coppée Trophy', Decimal('6.0000')),
 ('Atlantic Heritage Cup', Decimal('6.0000')),
 ('South Pacific Games', Decimal('5.9122')),
 ('GaNEFo', Decimal('5.7857')),
 ('World Unity Cup', Decimal('5.5000')),
 ('Afro-Asian Games', Decimal('5.2500')),
 ('Viva World Cup', Decimal('4.8214')),
 ('Pacific Mini Games', Decimal('4.8000')),
 ('Dragon Cup', Decimal('4.7500'))]

Crear un campo para categorizar los partidos por número de goles (goals_level):
* 0 - 1 : 'bajo'
* 2 - 4 : 'medio'
* mayor  4: 'alto'

In [ ]:
%%sql
select (home_score+away_score) as total_goals,
case
    when (home_score + away_score) <= 1 then 'bajo'
    when (home_score + away_score) <= 4 then 'medio'
    else 'alto'
end as goals_level
from T_RESULTS limit 10

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
10 rows affected.

[(0, 'bajo'),
 (6, 'alto'),
 (3, 'medio'),
 (4, 'medio'),
 (3, 'medio'),
 (4, 'medio'),
 (4, 'medio'),
 (2, 'medio'),
 (9, 'alto'),
 (9, 'alto')]

Obtener el mes en el que hay más partidos

In [ ]:
%%sql
select month(g_date) as mes, count(*) as num_partidos
from T_RESULTS group by month(g_date)
order by num_partidos desc

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
12 rows affected.

[(6, 6581),
 (10, 4991),
 (11, 4738),
 (9, 4706),
 (3, 4444),
 (5, 3287),
 (7, 2890),
 (8, 2851),
 (4, 2595),
 (2, 2591),
 (12, 2338),
 (1, 2329)]

#### EJER7

Obtener el número de partidos por día de la semana ordenado de forma descendente para toda la tabla T_RESULTS

Función dayofweek(). Day of week: 1 for Sunday, 2 for Monday, 3 for Tuesday, 4 for Wends day, 5 for Thursday, 6 for Friday, 7 for Saturday respectively

La salida debe ser:
__dia_semana__ __num_partidos__  
Domingo 10772   
Miércoles 10344   
Sábado 7675  
(more...)

In [ ]:
# solución7
%%sql
select * from T_RESULTS
GROUP BY dayofweek(g_date)
ORDER BY dayofweek(g_date) DESC

SyntaxError: invalid syntax (<ipython-input-74-9b70433e3ada>, line 1)

In [ ]:
%%sql
select
case
when dayofweek(g_date)  = 1 then 'Domingo'
when dayofweek(g_date)  = 2 then 'Lunes'
when dayofweek(g_date)  = 3 then 'Martes'
when dayofweek(g_date)  = 4 then 'Miercoles'
when dayofweek(g_date)  = 5 then 'Jueves'
when dayofweek(g_date)  = 6 then 'Viernes'
else  'Sábado'
end as dia_semana, count(*) as num_partidos
from T_RESULTS group by dayofweek(g_date)
order by num_partidos   desc

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

__JOINS__

In [ ]:
%sql select count(*) from T_COUNTRIES

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
1 rows affected.

[(265,)]

In [ ]:
%sql select count(distinct(country)) from T_RESULTS

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
1 rows affected.

[(268,)]

Obtener el número de paises que están en T_RESULTS y en T_COUNTRIES (en ambas tablas)

In [ ]:
%%sql
select count(distinct(a.country)) from T_RESULTS a INNER JOIN T_COUNTRIES b ON a.country = b.country

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

RuntimeError: (pymysql.err.OperationalError) (2013, 'Lost connection to MySQL server during query')
[SQL: select count(distinct(a.country)) from T_RESULTS a INNER JOIN T_COUNTRIES b ON a.country = b.country]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

Obtener los paises que están en T_RESULTS, pero no en T_COUNTRIES

In [ ]:
%%sql
select distinct a.country from T_RESULTS a LEFT JOIN T_COUNTRIES b ON a.country = b.country
where b.country is null

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
3 rows affected.

[('Netherlands',), ('Jamaica',), ('Ghana',)]

### SQL opciones rendimiento

#### Uso de índices

In [ ]:
%sql show tables

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

3 rows affected.

+--------------------------------+
| Tables_in_baxle3kk8kl1mrj9hxjs |
+--------------------------------+
|          T_COUNTRIES           |
|           T_RESULTS            |
|           T_RESULTS2           |
+--------------------------------+

Creamos una tabla T_RESULTS2 con alto volumen de datos. Si la conexión es compartida, crearla solo un usuario

In [ ]:
%%sql
DROP TABLE T_RESULTS2

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

++
||
++
++

In [ ]:
%%sql
CREATE TABLE T_RESULTS2 AS
SELECT * FROM T_RESULTS

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

RuntimeError: (pymysql.err.OperationalError) (1142, "INSERT command denied to user 'uib76wzqjb2qr1bs'@'34.34.27.89' for table 'T_RESULTS2'")
[SQL: CREATE TABLE T_RESULTS2 AS
SELECT * FROM T_RESULTS]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

Ejecutamos el insert - select varias veces. Va a duplicar filas, pero no nos importa, ya que la prueba que vamos a hacer es de rendimiento. Nos interesa que haya más unas 2 millones filas

In [ ]:
for i in range(50): # se insertan 50 veces
    conn.execute("INSERT INTO T_RESULTS2 (SELECT * FROM T_RESULTS)")

In [ ]:
%%sql
select count(*) FROM T_RESULTS2

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
1 rows affected.

[(2311065,)]

In [ ]:
Diferencia entre realizar consultas con y sin índice

In [ ]:
%%time
%%sql
select count(*) from T_RESULTS2 where home_team = 'Spain'

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
1 rows affected.
Wall time: 95.1 ms

[(19584,)]

In [ ]:
%%sql
explain select * from T_RESULTS2 where home_team = 'Spain'

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
1 rows affected.

[(1, 'SIMPLE', 'T_RESULTS2', None, 'ref', 'i_home_team', 'i_home_team', '33', 'const', 37996, 100.0, 'Using where')]

In [ ]:
%%sql
CREATE INDEX i_home_team ON T_RESULTS2 (home_team(10))

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(pymysql.err.ProgrammingError) (1146, "Table 'baxle3kk8kl1mrj9hxjs.T_RESULTS2' doesn't exist")
[SQL: CREATE INDEX i_home_team ON T_RESULTS2 (home_team(10))]
(Background on this error at: https://sqlalche.me/e/14/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community

In [ ]:
%%sql
DROP INDEX i_home_team ON T_RESULTS2

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
0 rows affected.

[]

#### Uso de particiones

Diferencia entre realizar consultas con y sin particiones

Creamos un campo que tenga el año

In [ ]:
%%sql
DROP TABLE T_RESULTS3

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
0 rows affected.

[]

In [ ]:
%%sql
CREATE TABLE T_RESULTS3 as
(SELECT *, year(g_date) as g_year FROM T_RESULTS2)

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
2311065 rows affected.

[]

In [ ]:
%%sql
DESCRIBE T_RESULTS3

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
10 rows affected.

[('g_date', 'text', 'YES', '', None, ''),
 ('home_team', 'text', 'YES', '', None, ''),
 ('away_team', 'text', 'YES', '', None, ''),
 ('home_score', 'bigint', 'YES', '', None, ''),
 ('away_score', 'bigint', 'YES', '', None, ''),
 ('tournament', 'text', 'YES', '', None, ''),
 ('city', 'text', 'YES', '', None, ''),
 ('country', 'text', 'YES', '', None, ''),
 ('neutral', 'tinyint(1)', 'YES', '', None, ''),
 ('g_year', 'int', 'YES', '', None, '')]

In [ ]:
%%sql
DROP TABLE T_RESULTS4

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
0 rows affected.

[]

In [ ]:
%%sql
CREATE TABLE T_RESULTS4 ( g_date date,  home_team varchar(50), away_team varchar(50),
                        home_score int, away_score int, tournament varchar(50), city varchar(50),
                        country varchar(50), neutral boolean, g_year int )
                        PARTITION BY RANGE (g_year)(
                        PARTITION p0 VALUES LESS THAN (2018),
                        PARTITION p1 VALUES LESS THAN (2019),
                        PARTITION p2 VALUES LESS THAN (2020),
                        PARTITION p3 VALUES LESS THAN (2021),
                        PARTITION p4 VALUES LESS THAN (2022),
                        PARTITION p5 VALUES LESS THAN MAXVALUE)

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
0 rows affected.

[]

In [ ]:
%%sql
DESC TABLE T_RESULTS4

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
1 rows affected.

[(1, 'SIMPLE', 'T_RESULTS4', 'p0,p1,p2,p3,p4,p5', 'ALL', None, None, None, None, 1, 100.0, None)]

In [ ]:
%%sql
INSERT INTO T_RESULTS4 (SELECT * FROM T_RESULTS3)

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
2311065 rows affected.

[]

In [ ]:
%%time
%%sql
select count(*) from T_RESULTS3 where g_year = 2021 and home_team = 'Spain'

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
1 rows affected.
Wall time: 925 ms

[(510,)]

In [ ]:
%%time
%%sql
select count(*) from T_RESULTS4 where g_year = 2021 and home_team = 'Spain'

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
1 rows affected.
Wall time: 111 ms

[(510,)]

Plan de ejecución

In [ ]:
%%sql
explain select * from T_RESULTS4 where g_year = 2021 and home_team = 'Spain'

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
1 rows affected.

[(1, 'SIMPLE', 'T_RESULTS4', 'p4', 'ALL', None, None, None, None, 55127, 1.0, 'Using where')]

In [ ]:
%%sql
explain select * from T_RESULTS3 where g_year = 2021 and home_team = 'Spain'

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
1 rows affected.

[(1, 'SIMPLE', 'T_RESULTS3', None, 'ALL', None, None, None, None, 2325575, 1.0, 'Using where')]

### SQL avanzado

#### Operaciones con ventana

Comparar el número de goles totales de un partido con el número de goles totales promedio de ese torneo

In [ ]:
%%sql
select *,  avg(home_score+away_score) over ( partition by tournament ) as media_torneo
from T_RESULTS order by rand() limit 10

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

10 rows affected.

+------------+-----------------------+----------------+------------+------------+------------------------------+----------------+-----------------------+---------+--------------+
|   g_date   |       home_team       |   away_team    | home_score | away_score |          tournament          |      city      |        country        | neutral | media_torneo |
+------------+-----------------------+----------------+------------+------------+------------------------------+----------------+-----------------------+---------+--------------+
| 1993-11-14 |     United States     | Cayman Islands |     8      |     1      |           Friendly           | Mission Viejo  |     United States     |    0    |    2.8871    |
| 2020-11-14 |         Cyprus        |   Luxembourg   |     2      |     1      |     UEFA Nations League      |    Nicosia     |         Cyprus        |    0    |    2.4428    |
| 1989-09-05 |         Norway        |     France     |     1      |     1      | FIFA World Cup qualification |      Oslo      |         Norway        |    0    |    2.8903    |
| 1983-04-08 |         Haiti         | United States  |     0      |     2      |           Friendly           | Port-au-Prince |         Haiti         |    0    |    2.8871    |
| 2005-06-08 |         Chile         |   Venezuela    |     2      |     1      | FIFA World Cup qualification |    Santiago    |         Chile         |    0    |    2.8903    |
| 1969-07-25 |     New Caledonia     |  New Zealand   |     0      |     0      |           Friendly           |     Nouméa     |     New Caledonia     |    0    |    2.8871    |
| 2007-01-13 |       Singapore       |    Vietnam     |     0      |     0      |       AFF Championship       |   Singapore    |       Singapore       |    0    |    3.4226    |
| 2021-06-04 | Saint Kitts and Nevis |     Guyana     |     3      |     0      | FIFA World Cup qualification |   Basseterre   | Saint Kitts and Nevis |    0    |    2.8903    |
| 1987-07-03 |         Chile         |     Brazil     |     4      |     0      |         Copa América         |    Córdoba     |       Argentina       |    1    |    3.1760    |
| 1969-10-23 |        Algeria        |   Palestine    |     2      |     0      |           Friendly           |    Algiers     |        Algeria        |    0    |    2.8871    |
+------------+-----------------------+----------------+------------+------------+------------------------------+----------------+-----------------------+---------+--------------+
Truncated to displaylimit of 10.

In [ ]:
%%sql
select * from T_RESULTS limit 5

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
5 rows affected.

[('1872-11-30', 'Scotland', 'England', 0, 0, 'Friendly', 'Glasgow', 'Scotland', 0),
 ('1873-03-08', 'England', 'Scotland', 4, 2, 'Friendly', 'London', 'England', 0),
 ('1874-03-07', 'Scotland', 'England', 2, 1, 'Friendly', 'Glasgow', 'Scotland', 0),
 ('1875-03-06', 'England', 'Scotland', 2, 2, 'Friendly', 'London', 'England', 0),
 ('1876-03-04', 'Scotland', 'England', 3, 0, 'Friendly', 'Glasgow', 'Scotland', 0)]

Obtener la fecha anterior y posterior de cada partido por torneo para partidos posteriores a 2020-01-01

In [ ]:
%%sql
select g_date, home_team, away_team, home_score, away_score, tournament,
LAG(g_date, 1) OVER  w  as prev_g_date,
LEAD(g_date, 1) OVER  w  as post_g_date
from T_RESULTS
where g_date >= '2023-01-01' and tournament like '%FIFA%'
window w as (   PARTITION BY tournament  ORDER BY g_date )
limit 10

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

10 rows affected.

+------------+-----------+-----------+------------+------------+------------------------------+-------------+-------------+
|   g_date   | home_team | away_team | home_score | away_score |          tournament          | prev_g_date | post_g_date |
+------------+-----------+-----------+------------+------------+------------------------------+-------------+-------------+
| 2023-09-07 |  Colombia | Venezuela |     1      |     0      | FIFA World Cup qualification |     None    |  2023-09-07 |
| 2023-09-07 |  Paraguay |    Peru   |     0      |     0      | FIFA World Cup qualification |  2023-09-07 |  2023-09-07 |
| 2023-09-07 | Argentina |  Ecuador  |     1      |     0      | FIFA World Cup qualification |  2023-09-07 |  2023-09-08 |
| 2023-09-08 |  Uruguay  |   Chile   |     3      |     1      | FIFA World Cup qualification |  2023-09-07 |  2023-09-08 |
| 2023-09-08 |   Brazil  |  Bolivia  |     5      |     1      | FIFA World Cup qualification |  2023-09-08 |  2023-09-12 |
| 2023-09-12 |  Bolivia  | Argentina |     0      |     3      | FIFA World Cup qualification |  2023-09-08 |  2023-09-12 |
| 2023-09-12 |  Ecuador  |  Uruguay  |     2      |     1      | FIFA World Cup qualification |  2023-09-12 |  2023-09-12 |
| 2023-09-12 | Venezuela |  Paraguay |     1      |     0      | FIFA World Cup qualification |  2023-09-12 |  2023-09-12 |
| 2023-09-12 |    Peru   |   Brazil  |     0      |     1      | FIFA World Cup qualification |  2023-09-12 |  2023-09-12 |
| 2023-09-12 |   Chile   |  Colombia |     0      |     0      | FIFA World Cup qualification |  2023-09-12 |  2023-10-12 |
+------------+-----------+-----------+------------+------------+------------------------------+-------------+-------------+
Truncated to displaylimit of 10.

Filtrando por los partidos de Spain. Obtener un ranking que muestre la posición de ese partido frente al resto de partidos
del torneo en base al numero de goles totales del partido

In [ ]:
%%sql
with spain_games as
(select g_date, home_team, away_team, home_score, away_score, tournament, 'Spain' as team
from T_RESULTS
where g_date >= '2020-01-01' and (home_team = 'Spain' or away_team = 'Spain')
)
select *, rank() over (partition by tournament order by (home_score+away_score) desc) as rankin_goles
from spain_games
limit 10

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

10 rows affected.

+------------+-----------+------------+------------+------------+------------------------------+-------+--------------+
|   g_date   | home_team | away_team  | home_score | away_score |          tournament          |  team | rankin_goles |
+------------+-----------+------------+------------+------------+------------------------------+-------+--------------+
| 2022-11-23 |   Spain   | Costa Rica |     7      |     0      |        FIFA World Cup        | Spain |      1       |
| 2022-12-01 |   Japan   |   Spain    |     2      |     1      |        FIFA World Cup        | Spain |      2       |
| 2022-11-27 |   Spain   |  Germany   |     1      |     1      |        FIFA World Cup        | Spain |      3       |
| 2022-12-06 |  Morocco  |   Spain    |     0      |     0      |        FIFA World Cup        | Spain |      4       |
| 2021-03-31 |   Spain   |   Kosovo   |     3      |     1      | FIFA World Cup qualification | Spain |      1       |
| 2021-09-05 |   Spain   |  Georgia   |     4      |     0      | FIFA World Cup qualification | Spain |      1       |
| 2021-03-28 |  Georgia  |   Spain    |     1      |     2      | FIFA World Cup qualification | Spain |      3       |
| 2021-09-02 |   Sweden  |   Spain    |     2      |     1      | FIFA World Cup qualification | Spain |      3       |
| 2021-03-25 |   Spain   |   Greece   |     1      |     1      | FIFA World Cup qualification | Spain |      5       |
| 2021-09-08 |   Kosovo  |   Spain    |     0      |     2      | FIFA World Cup qualification | Spain |      5       |
+------------+-----------+------------+------------+------------+------------------------------+-------+--------------+

#### EJER8

Para los partidos jugados en 2023, obtener el rival primero y ultimo del años de cada equipo jugando como local.    
Emplear la claúsula 'over partition' y la función first_value().    
La salida deber ser:    
__g_date__	__home_team__	__away_team__	__home_score__	__away_score__	__tournament__	__first_team__	__last_team__   
2023-10-12	Afghanistan	Mongolia	1	0	FIFA World Cup qualification	Mongolia	Kuwait   
2023-11-21	Afghanistan	Kuwait	0	4	FIFA World Cup qualification	Mongolia	Kuwait   
2023-07-09	Åland	Isle of Wight	0	2	Island Games	Isle of Wight	Falkland Islands  
2023-07-11	Åland	Western Isles	0	2	Island Games	Isle of Wight	Falkland Islands  
2023-07-13	Åland	Falkland Islands	1	1	Island Games	Isle of Wight	Falkland Islands

In [ ]:
# solución8

In [ ]:
%%sql
select g_date, home_team, away_team, home_score, away_score, tournament,
FIRST_VALUE(away_team) OVER  w  as first_team,
FIRST_VALUE(away_team) over wa as last_team
from T_RESULTS
where g_date >= '2023-01-01' and tournament like '%FIFA%'
window w as (   PARTITION BY home_team  ORDER BY g_date ),
 wa as (   PARTITION BY home_team  ORDER BY g_date desc)

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

138 rows affected.

+------------+-------------+----------------------+------------+------------+------------------------------+----------------------+----------------------+
|   g_date   |  home_team  |      away_team       | home_score | away_score |          tournament          |      first_team      |      last_team       |
+------------+-------------+----------------------+------------+------------+------------------------------+----------------------+----------------------+
| 2023-11-21 | Afghanistan |        Kuwait        |     0      |     4      | FIFA World Cup qualification |       Mongolia       |        Kuwait        |
| 2023-10-12 | Afghanistan |       Mongolia       |     1      |     0      | FIFA World Cup qualification |       Mongolia       |        Kuwait        |
| 2023-11-16 |   Algeria   |       Somalia        |     3      |     1      | FIFA World Cup qualification |       Somalia        |       Somalia        |
| 2023-11-16 |  Argentina  |       Uruguay        |     0      |     2      | FIFA World Cup qualification |       Ecuador        |       Uruguay        |
| 2023-10-12 |  Argentina  |       Paraguay       |     1      |     0      | FIFA World Cup qualification |       Ecuador        |       Uruguay        |
| 2023-09-07 |  Argentina  |       Ecuador        |     1      |     0      | FIFA World Cup qualification |       Ecuador        |       Uruguay        |
| 2023-11-16 |  Australia  |      Bangladesh      |     7      |     0      | FIFA World Cup qualification |      Bangladesh      |      Bangladesh      |
| 2023-11-21 |   Bahrain   | United Arab Emirates |     0      |     2      | FIFA World Cup qualification | United Arab Emirates | United Arab Emirates |
| 2023-11-21 |  Bangladesh |       Lebanon        |     1      |     1      | FIFA World Cup qualification |       Maldives       |       Lebanon        |
| 2023-10-17 |  Bangladesh |       Maldives       |     2      |     1      | FIFA World Cup qualification |       Maldives       |       Lebanon        |
+------------+-------------+----------------------+------------+------------+------------------------------+----------------------+----------------------+
Truncated to displaylimit of 10.

Para hacerlo con last_value hay que hacer un pequeño cambio: The default windowing clause is "RANGE BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW". Altering the windowing clause to "ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING" gives us the result we probably expected.

Cuando incluímos la ventana sin ordenación (   PARTITION BY home_team ) los cálculos (sum, avg, last_value...) los hace
para la ventana completa, si incluísmo la ordenación (   PARTITION BY home_team  ORDER BY g_date ) los  hace desde la
primera fila de la ventana hasta la actual (CURRENT ROW)

The bounds can be any of these five options:

* UNBOUNDED PRECEDING – All rows before the current row.
* n PRECEDING – n rows before the current row.
* CURRENT ROW – Just the current row.
* n FOLLOWING – n rows after the current row.
* UNBOUNDED FOLLOWING – All rows after the current row.

In [ ]:
%%sql
select g_date, home_team, away_team, home_score, away_score, tournament,
first_value(away_team) OVER (   PARTITION BY home_team  ORDER BY g_date ) as first_team,
last_value(away_team) OVER (   PARTITION BY home_team  ORDER BY g_date rows BETWEEN
           UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING ) as last_team
from T_RESULTS
where (g_date >= '2021-01-01' and g_date <= '2021-12-31')
order by home_team, g_date
limit 20

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
20 rows affected.

[('2021-06-11', 'Afghanistan', 'Oman', 1, 2, 'FIFA World Cup qualification', 'Oman', 'Oman'),
 ('2021-03-28', 'Albania', 'England', 0, 2, 'FIFA World Cup qualification', 'England', 'Andorra'),
 ('2021-09-05', 'Albania', 'Hungary', 1, 0, 'FIFA World Cup qualification', 'England', 'Andorra'),
 ('2021-09-08', 'Albania', 'San Marino', 5, 0, 'FIFA World Cup qualification', 'England', 'Andorra'),
 ('2021-10-12', 'Albania', 'Poland', 0, 1, 'FIFA World Cup qualification', 'England', 'Andorra'),
 ('2021-11-15', 'Albania', 'Andorra', 1, 0, 'FIFA World Cup qualification', 'England', 'Andorra'),
 ('2021-03-29', 'Algeria', 'Botswana', 5, 0, 'African Cup of Nations qualification', 'Botswana', 'Egypt'),
 ('2021-06-03', 'Algeria', 'Mauritania', 4, 1, 'Friendly', 'Botswana', 'Egypt'),
 ('2021-06-06', 'Algeria', 'Mali', 1, 0, 'Friendly', 'Botswana', 'Egypt'),
 ('2021-06-17', 'Algeria', 'Liberia', 5, 1, 'Friendly', 'Botswana', 'Egypt'),
 ('2021-09-02', 'Algeria', 'Djibouti', 8, 0, 'FIFA World Cup qualification', 'Botswana', 'Egypt'),
 ('2021-10-08', 'Algeria', 'Niger', 6, 1, 'FIFA World Cup qualification', 'Botswana', 'Egypt'),
 ('2021-11-16', 'Algeria', 'Burkina Faso', 2, 2, 'FIFA World Cup qualification', 'Botswana', 'Egypt'),
 ('2021-12-01', 'Algeria', 'Sudan', 4, 0, 'Arab Cup', 'Botswana', 'Egypt'),
 ('2021-12-07', 'Algeria', 'Egypt', 1, 1, 'Arab Cup', 'Botswana', 'Egypt'),
 ('2021-03-25', 'Andorra', 'Albania', 0, 1, 'FIFA World Cup qualification', 'Albania', 'Poland'),
 ('2021-03-31', 'Andorra', 'Hungary', 1, 4, 'FIFA World Cup qualification', 'Albania', 'Poland'),
 ('2021-06-03', 'Andorra', 'Republic of Ireland', 1, 4, 'Friendly', 'Albania', 'Poland'),
 ('2021-06-07', 'Andorra', 'Gibraltar', 0, 0, 'Friendly', 'Albania', 'Poland'),
 ('2021-09-02', 'Andorra', 'San Marino', 2, 0, 'FIFA World Cup qualification', 'Albania', 'Poland')]

In [ ]:
%%sql
with cte as
(select *
from T_RESULTS
where (home_team, away_team) in 'Spain')
select * from cte where home_score >= 4

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''Spain')\nselect * from cte where home_score >= 4' at line 4")
[SQL: with cte as
(select *
from T_RESULTS
where (home_team, away_team) in 'Spain')
select * from cte where home_score >= 4]
(Background on this error at: https://sqlalche.me/e/14/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community

In [ ]:
%%sql
with cte as
(
select  home_team,
first_value(away_team) OVER (   PARTITION BY home_team  ORDER BY g_date ) as first_team,
first_value(away_team) OVER (   PARTITION BY home_team  ORDER BY g_date desc ) as last_team
from T_RESULTS
where (g_date >= '2021-01-01' and g_date <= '2021-12-31')
order by home_team, g_date
)
select home_team, first_team, last_team
from cte
group by home_team
limit 10

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
10 rows affected.

[('Afghanistan', 'Oman', 'Oman'),
 ('Albania', 'England', 'Andorra'),
 ('Algeria', 'Botswana', 'Egypt'),
 ('Andorra', 'Albania', 'Poland'),
 ('Angola', 'Gabon', 'Egypt'),
 ('Anguilla', 'Dominican Republic', 'Dominican Republic'),
 ('Antigua and Barbuda', 'Montserrat', 'Grenada'),
 ('Argentina', 'Chile', 'Brazil'),
 ('Armenia', 'Iceland', 'Germany'),
 ('Aruba', 'Suriname', 'Canada')]

#### EJER9:

__Media móvil__: comparar los goles de España como equipo local con la media móvil de los últimos 3 partidos (el actual y los dos anteriores) . Partidos de 2022. Usar cláusula 'over partition' y 'n PRECEDING'.    
La salida debe ser:   
__home_team__	__g_date__	__home_score__	__media_movil__   
Spain	2022-11-27	1	3.0000   
Spain	2022-11-23	7	3.3333   
Spain	2022-09-24	1	1.3333   
Spain	2022-06-12	2	2.6667

In [ ]:
# solución9
%%sql
select home_team, g_date, home_score,
AVG(home_score) OVER ( PARTITION BY home_team ORDER BY g_date ROWS BETWEEN 2 PRECEDING and CURRENT ROW   ) as media_movil

from T_RESULTS
where home_team = 'Spain'
order by g_date;

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

385 rows affected.

+-----------+------------+------------+-------------+
| home_team |   g_date   | home_score | media_movil |
+-----------+------------+------------+-------------+
|   Spain   | 2023-11-19 |     3      |    3.6667   |
|   Spain   | 2023-10-12 |     2      |    3.3333   |
|   Spain   | 2023-09-12 |     6      |    3.6667   |
|   Spain   | 2023-06-15 |     2      |    2.0000   |
|   Spain   | 2023-03-25 |     3      |    3.6667   |
|   Spain   | 2022-11-27 |     1      |    3.0000   |
|   Spain   | 2022-11-23 |     7      |    3.3333   |
|   Spain   | 2022-09-24 |     1      |    1.3333   |
|   Spain   | 2022-06-12 |     2      |    2.6667   |
|   Spain   | 2022-06-02 |     1      |    2.6667   |
|   Spain   | 2022-03-29 |     5      |    2.6667   |
|   Spain   | 2022-03-26 |     2      |    1.3333   |
|   Spain   | 2021-11-14 |     1      |    2.0000   |
|   Spain   | 2021-10-10 |     1      |    3.3333   |
|   Spain   | 2021-09-05 |     4      |    3.3333   |
|   Spain   | 2021-06-23 |     5      |    2.0000   |
|   Spain   | 2021-06-19 |     1      |    1.6667   |
|   Spain   | 2021-06-14 |     0      |    1.3333   |
|   Spain   | 2021-06-08 |     4      |    2.3333   |
|   Spain   | 2021-06-04 |     0      |    1.3333   |
|   Spain   | 2021-03-31 |     3      |    3.3333   |
|   Spain   | 2021-03-25 |     1      |    2.6667   |
|   Spain   | 2020-11-17 |     6      |    3.6667   |
|   Spain   | 2020-10-10 |     1      |    3.3333   |
|   Spain   | 2020-09-06 |     4      |    5.3333   |
|   Spain   | 2019-11-18 |     5      |    5.3333   |
|   Spain   | 2019-11-15 |     7      |    4.6667   |
|   Spain   | 2019-09-08 |     4      |    3.0000   |
|   Spain   | 2019-06-10 |     3      |    2.0000   |
|   Spain   | 2019-03-23 |     2      |    1.6667   |
+-----------+------------+------------+-------------+
Truncated to displaylimit of 30.

Idem para todos los equipos como local

In [ ]:
# solución9

#### EJER10

__Suma total__ y __acumulado parcial__ de goles de España como local por torneo para 2021. La salida debe ser:   
__home_team__ __tournament__ __g_date__ __home_score__ __sum_goles__ __acumulado_goles__   
Spain	FIFA World Cup	2022-11-23	7	8	7  
Spain	FIFA World Cup	2022-11-27	1	8	8   
Spain	Friendly	2022-03-26	2	7	2   
Spain	Friendly	2022-03-29	5	7	7   
(more...)

In [ ]:
# solución10
%%sql
select home_team, g_date, home_score,
SUM(home_score) OVER (PARTITION BY tournament ORDER BY g_date ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as sum_goles,
SUM(home_score) OVER (PARTITION BY tournament ORDER BY g_date ) as acumulado_goles
from T_RESULTS
where home_team = 'Spain' AND g_date >= '2022-01-01' AND g_date <= '2022-12-31'
order by g_date;

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

7 rows affected.

+-----------+------------+------------+-----------+-----------------+
| home_team |   g_date   | home_score | sum_goles | acumulado_goles |
+-----------+------------+------------+-----------+-----------------+
|   Spain   | 2022-03-26 |     2      |     7     |        2        |
|   Spain   | 2022-03-29 |     5      |     7     |        7        |
|   Spain   | 2022-06-02 |     1      |     4     |        1        |
|   Spain   | 2022-06-12 |     2      |     4     |        3        |
|   Spain   | 2022-09-24 |     1      |     4     |        4        |
|   Spain   | 2022-11-23 |     7      |     8     |        7        |
|   Spain   | 2022-11-27 |     1      |     8     |        8        |
+-----------+------------+------------+-----------+-----------------+

### Pivotar resultados

In [ ]:
%%sql
select year(g_date), tournament, count(*) as num_partidos
from T_RESULTS
where g_date >= '2019-01-01'
group by year(g_date), tournament
limit 5

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
5 rows affected.

[(2019, 'Friendly', 241),
 (2019, 'AFC Asian Cup', 51),
 (2019, 'UEFA Euro qualification', 250),
 (2019, 'CONCACAF Nations League qualification', 18),
 (2019, 'Kirin Challenge Cup', 6)]

Pivotamos mediante un CASE WHEN en otros SGDB existe la sentencia PIVOT

In [ ]:
%%sql
SELECT
   tournament,
   SUM(CASE WHEN year(g_date) = '2019' THEN 1 ELSE 0 END) AS '2019',
   SUM(CASE WHEN year(g_date) = '2020' THEN 1 ELSE 0 END) AS '2020',
   SUM(CASE WHEN year(g_date) = '2021' THEN 1 ELSE 0 END) AS '2021'
from T_RESULTS
where g_date >= '2019-01-01'
group by  tournament  limit 5

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
5 rows affected.

[('Friendly', Decimal('241'), Decimal('104'), Decimal('215')),
 ('AFC Asian Cup', Decimal('51'), Decimal('0'), Decimal('0')),
 ('UEFA Euro qualification', Decimal('250'), Decimal('12'), Decimal('0')),
 ('CONCACAF Nations League qualification', Decimal('18'), Decimal('0'), Decimal('0')),
 ('Kirin Challenge Cup', Decimal('6'), Decimal('0'), Decimal('1'))]

#### EJER11

Obtener agrupado por año los partidos de Copa del Mundo, diferenciandon en 2 columnas: 'FIFA World Cup qualification' y 'FIFA World Cup'. Mostrar la salida ordenada por año descendente. La salida debe ser como sigue:   
__año__	__FIFA World Cup qualification__	__FIFA World Cup__   
2023	138	0   
2022	100	64   
2021	609	0   
2020	21	0   
2019	136	0   
2018	0  64

In [ ]:
# solución11
%%sql
SELECT
  year(g_date),
   SUM(CASE WHEN tournament = 'FIFA World Cup qualification' THEN 1 ELSE 0 END) AS 'FIFA World Cup qualification',
   SUM(CASE WHEN tournament = 'FIFA World Cup' THEN 1 ELSE 0 END) AS 'FIFA World Cup'

from T_RESULTS
where tournament in ('FIFA World Cup qualification' , 'FIFA World Cup')
group by year(g_date)

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

67 rows affected.

+--------------+------------------------------+----------------+
| year(g_date) | FIFA World Cup qualification | FIFA World Cup |
+--------------+------------------------------+----------------+
|     1930     |              0               |       18       |
|     1933     |              5               |       0        |
|     1934     |              21              |       17       |
|     1937     |              14              |       0        |
|     1938     |              8               |       18       |
|     1949     |              19              |       0        |
|     1950     |              4               |       22       |
|     1953     |              34              |       0        |
|     1954     |              23              |       26       |
|     1956     |              4               |       0        |
+--------------+------------------------------+----------------+
Truncated to displaylimit of 10.

### Queries jerarquicas

Tabla padre - hijo

In [ ]:
%%sql
show tables

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

2 rows affected.

+--------------------------------+
| Tables_in_baxle3kk8kl1mrj9hxjs |
+--------------------------------+
|          T_COUNTRIES           |
|           T_RESULTS            |
+--------------------------------+

In [ ]:
%%sql
DROP TABLE empleados;

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
0 rows affected.

[]

In [ ]:
%%sql
CREATE TABLE empleados
(
id_empleado int,
nombre_empleado varchar(100),
responsable int
);

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

++
||
++
++

In [ ]:
%%sql
describe empleados

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

3 rows affected.

+-----------------+--------------+------+-----+---------+-------+
|      Field      |     Type     | Null | Key | Default | Extra |
+-----------------+--------------+------+-----+---------+-------+
|   id_empleado   |     int      | YES  |     |   None  |       |
| nombre_empleado | varchar(100) | YES  |     |   None  |       |
|   responsable   |     int      | YES  |     |   None  |       |
+-----------------+--------------+------+-----+---------+-------+

In [ ]:
%%sql
delete from empleados

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
6 rows affected.

[]

In [ ]:
%%sql
insert into empleados  values (1, 'L. Fernández', 0);
insert into empleados  values (2, 'P. Gil', 0);
insert into empleados  values (3, 'C. García', 0);
insert into empleados values (4, 'M. Sánchez', 1);
insert into empleados values (5, 'A. Castilla', 2);
insert into empleados values (6, 'J. Suárez', 4);

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

Consulta válida para recorrer el árbol en otros SGDB (ejemplo Oracle)

In [ ]:
%%sql
SELECT id_empleado, nombre_empleado, responsable
FROM empleados
CONNECT BY PRIOR id_empleado=responsable
START WITH id_empleado=1;

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'BY PRIOR id_empleado=responsable\nSTART WITH id_empleado=1' at line 3")
[SQL: SELECT id_empleado, nombre_empleado, responsable
FROM empleados
CONNECT BY PRIOR id_empleado=responsable
START WITH id_empleado=1;]
(Background on this error at: https://sqlalche.me/e/14/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community

Para hacerla en MySQL usamos CTE recursivos

Uso de CTE recursivo. En la construcción de la tabla se va llamando a si misma

In [ ]:
%%sql
WITH RECURSIVE cte AS
(
  -- inicio
  SELECT 1 AS n
  UNION ALL
  -- recursividad
  SELECT n + 1 FROM cte WHERE n < 5
)
SELECT * FROM cte

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
5 rows affected.

[(1,), (2,), (3,), (4,), (5,)]

In [ ]:
%%sql
WITH RECURSIVE jerarquia(id_empleado, nombre_empleado, responsable, nombre_responsable, jefe, nombre_jefe)
AS(
    -- Valores iniciales. Corresponde a la selección del responsable
    SELECT empleados.id_empleado, empleados.nombre_empleado,
        0 AS responsable, cast('' as char(100)) AS nombre_responsable,
        empleados.id_empleado AS jefe, empleados.nombre_empleado AS nombre_jefe
    FROM  empleados
    WHERE id_empleado = 1
    UNION
    -- Recursividad: Subconsulta recursiva para todos los empleados bajo la jerarquia del responsable
    SELECT empleados.id_empleado, empleados.nombre_empleado,
        jerarquia.id_empleado AS responsable, jerarquia.nombre_empleado AS nombre_responsable,
        jerarquia.jefe, jerarquia.nombre_jefe
    FROM empleados, jerarquia
    WHERE empleados.responsable = jerarquia.id_empleado
)
select id_empleado, nombre_empleado, responsable, nombre_responsable, jefe, nombre_jefe FROM jerarquia

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
3 rows affected.

[(1, 'L. Fernández', 0, '', 1, 'L. Fernández'),
 (4, 'M. Sánchez', 1, 'L. Fernández', 1, 'L. Fernández'),
 (6, 'J. Suárez', 4, 'M. Sánchez', 1, 'L. Fernández')]

Los puntos claves de la consulta son:
* Consulta de definición de los valores iniciales dentro de la CTE : Sirve para determinar los valores iniciales de la recursión , en este caso, los del responsable de primer nivel con ID_EMPLEADO = 1 (línea 9)
* Dentro de la parte de la consulta con recursividad, entra por un valor de id_empleado y lo busca como responsable (WHERE empleados.responsable = jerarquia.id_empleado, por ejemplo id_empleado = 1). En los datos obtenidos en la SELECT  empleados.id_empleado ((que sería id_empleado = 4) es el empleado que está a cargo del jerarquia.id_empleado de entrada  y jerarquia.empleado es el responsable (1).   Los resultados de la SELECT son mapeados a los de la definición de la CTE (primera línea jerarquia(id_empleado, nombre_empleado,..), de forma que el id_empleado retornado (4)  pasa a ser el id_empleado de jerarquia por el que hace la siguiente búsqueda que va a encontrar 6 y así sucesivamente hasta que se llegue a un id_empleado que no es a su vez responsable

Un ejemplo de tratamiento de query recursiva es que se se realiza para aplanar la __jerarquía padre-hijo contable de SAP__ para con una __estructura aplanada pasarla a BigQuery__

### Uso de arrays y json

In [ ]:
%%sql
show tables

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

3 rows affected.

+--------------------------------+
| Tables_in_baxle3kk8kl1mrj9hxjs |
+--------------------------------+
|          T_COUNTRIES           |
|           T_RESULTS            |
|           empleados            |
+--------------------------------+

There are two main types of JSON values in MySQL:

JSON array — A list of values separated by commas and enclosed within square brackets ([]).   
JSON object — A dictionary/hashmap/object (the name is different in different programming languages) with a set of key-value pairs separated by commas and enclosed within curly brackets ({}).    
https://dev.mysql.com/doc/refman/8.0/en/json-functions.html

In [ ]:
%%sql
CREATE  TABLE T_CLIENTES(
  id_cliente     INT NOT NULL,
  productos  JSON NOT NULL,
  servicios JSON NOT NULL
);

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

++
||
++
++

In [ ]:
%%sql
DELETE FROM T_CLIENTES

In [ ]:
%%sql
INSERT INTO T_CLIENTES(id_cliente, productos, servicios)
VALUES (1, JSON_ARRAY('A', 'B'), JSON_OBJECT("S1","1","S2","2"));
INSERT INTO T_CLIENTES(id_cliente, productos, servicios)
VALUES (2, JSON_ARRAY('B', 'C', 'D'), JSON_OBJECT("S1","1","S3","3"));

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

1 rows affected.

1 rows affected.

++
||
++
++

In [ ]:
%%sql
SELECT * FROM T_CLIENTES

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

2 rows affected.

+------------+-----------------+------------------------+
| id_cliente |    productos    |       servicios        |
+------------+-----------------+------------------------+
|     1      |    ["A", "B"]   | {"S1": "1", "S2": "2"} |
|     2      | ["B", "C", "D"] | {"S1": "1", "S3": "3"} |
+------------+-----------------+------------------------+

In [ ]:
%%sql
SELECT id_cliente, JSON_EXTRACT(productos, '$[0]') AS primer_producto
FROM T_CLIENTES
WHERE id_cliente = 1

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

1 rows affected.

+------------+-----------------+
| id_cliente | primer_producto |
+------------+-----------------+
|     1      |       "A"       |
+------------+-----------------+

In [ ]:
%%sql
SELECT id_cliente, JSON_EXTRACT(servicios, '$.S1') AS valor_S1
FROM T_CLIENTES
WHERE id_cliente = 1

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

2 rows affected.

+------------+----------+
| id_cliente | valor_S1 |
+------------+----------+
|     1      |   "1"    |
|     2      |   "1"    |
+------------+----------+

In [ ]:
%%sql
UPDATE T_CLIENTES
SET productos = JSON_ARRAY_APPEND(productos, '$', 'C')
WHERE id_cliente = 1;

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
1 rows affected.

[]

In [ ]:
%%sql
SELECT * FROM T_CLIENTES

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
(pymysql.err.OperationalError) (2013, 'Lost connection to MySQL server during query ([WinError 10060] Se produjo un error durante el intento de conexión ya que la parte conectada no respondió adecuadamente tras un periodo de tiempo, o bien se produjo un error en la conexión establecida ya que el host conectado no ha podido responder)')
[SQL: SELECT * FROM T_CLIENTES]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
%%sql
UPDATE T_CLIENTES
SET servicios = JSON_SET(servicios, '$.S3', '3')
WHERE id_cliente = 1;

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
1 rows affected.

[]

In [ ]:
%%sql
SELECT *
FROM T_CLIENTES
WHERE JSON_EXTRACT(servicios, '$.S2') = '2'

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
1 rows affected.

[(1, '["A", "B", "C"]', '{"S1": "1", "S2": "2", "S3": "3"}')]

### Creación de procedures

In [ ]:
%%sql
select * from T_RESULTS
where home_team = 'Spain'
order by g_date desc limit 5

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
5 rows affected.

[('2023-11-19', 'Spain', 'Georgia', 3, 1, 'UEFA Euro qualification', 'Valladolid', 'Spain', 0),
 ('2023-10-12', 'Spain', 'Scotland', 2, 0, 'UEFA Euro qualification', 'Seville', 'Spain', 0),
 ('2023-09-12', 'Spain', 'Cyprus', 6, 0, 'UEFA Euro qualification', 'Granada', 'Spain', 0),
 ('2023-06-15', 'Spain', 'Italy', 2, 1, 'UEFA Nations League', 'Enschede', 'Netherlands', 1),
 ('2023-03-25', 'Spain', 'Norway', 3, 0, 'UEFA Euro qualification', 'Malaga', 'Spain', 0)]

In [ ]:
%%sql
DROP PROCEDURE partidos_home_team;

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
0 rows affected.

[]

In [ ]:
%%sql
CREATE PROCEDURE partidos_home_team(in h_team varchar(50))
BEGIN
    SELECT *
    from T_RESULTS
    where home_team = h_team
    order by g_date desc limit 5;
END

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

RuntimeError: (pymysql.err.OperationalError) (1304, 'PROCEDURE partidos_home_team already exists')
[SQL: CREATE PROCEDURE partidos_home_team(in h_team varchar(50))
BEGIN
    SELECT *
    from T_RESULTS
    where home_team = h_team
    order by g_date desc limit 5;
END]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [ ]:
%%sql
call partidos_home_team('Spain')

Running query in 'mysql+pymysql://uib76wzqjb2qr1bs:***@baxle3kk8kl1mrj9hxjs-mysql.services.clever-cloud.com/baxle3kk8kl1mrj9hxjs'

5 rows affected.

+------------+-----------+-----------+------------+------------+-------------------------+------------+-------------+---------+
|   g_date   | home_team | away_team | home_score | away_score |        tournament       |    city    |   country   | neutral |
+------------+-----------+-----------+------------+------------+-------------------------+------------+-------------+---------+
| 2023-11-19 |   Spain   |  Georgia  |     3      |     1      | UEFA Euro qualification | Valladolid |    Spain    |    0    |
| 2023-10-12 |   Spain   |  Scotland |     2      |     0      | UEFA Euro qualification |  Seville   |    Spain    |    0    |
| 2023-09-12 |   Spain   |   Cyprus  |     6      |     0      | UEFA Euro qualification |  Granada   |    Spain    |    0    |
| 2023-06-15 |   Spain   |   Italy   |     2      |     1      |   UEFA Nations League   |  Enschede  | Netherlands |    1    |
| 2023-03-25 |   Spain   |   Norway  |     3      |     0      | UEFA Euro qualification |   Malaga   |    Spain    |    0    |
+------------+-----------+-----------+------------+------------+-------------------------+------------+-------------+---------+

Creamos un procedimiento almacenado para actualizar una tabla que contiene los partidos de España T_RESULTS_SPAIN
Se tratar de crear un procedure que realice __actualizaciones periódicas__ de los últimos partidos

Situación inicial tabla T_RESULTS_SPAIN

In [ ]:
%sql DROP TABLE T_RESULTS_SPAIN

Running query in 'mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd'

++
||
++
++

In [ ]:
%%sql
create table T_RESULTS_SPAIN as
(select *
FROM T_RESULTS
where (home_team = 'Spain' or away_team = 'Spain')
and g_date < '2023-01-01' );

Running query in 'mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd'

737 rows affected.

++
||
++
++

In [ ]:
%sql DROP PROCEDURE upd_t_spain_matches;

Running query in 'mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd'

++
||
++
++

In [ ]:
%%sql
CREATE PROCEDURE upd_t_spain_matches( IN last_date VARCHAR(50))
BEGIN
    INSERT INTO T_RESULTS_SPAIN
    (select *
    FROM T_RESULTS
    where (home_team = 'Spain' or away_team = 'Spain')
    and g_date >= last_date);
END

Running query in 'mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd'

++
||
++
++

In [ ]:
%%sql
call upd_t_spain_matches('2023-01-01')

Running query in 'mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd'

10 rows affected.

++
||
++
++

Ejemplo de procedimiento con varios pasos (no se puede ejecutar con %%sql por los delimitadores)

In [ ]:
%%sql
DROP procedure IF EXISTS `upd_t_spain_matches3`;

DELIMITER $$

CREATE PROCEDURE upd_t_spain_matches3 (IN last_date VARCHAR(50))
BEGIN
CREATE TEMPORARY TABLE T_RESULTS_S AS
SELECT  *
    FROM T_RESULTS
    where (home_team = 'Spain' or away_team = 'Spain')
    and g_date >= last_date;

INSERT INTO T_RESULTS_SPAIN
    (select *
    FROM T_RESULTS_S
    );
END

DELIMITER ;

Ejemplo de __trigger__ se necesitan permisos especiales para ejecutarlo


-- Crear la tabla order_logs para almacenar registros de log  
CREATE TABLE order_logs (
    id INT PRIMARY KEY AUTO_INCREMENT,  
    order_id INT,  
    action VARCHAR(10),  
    log_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,  
    FOREIGN KEY (order_id) REFERENCES orders(id)  
);

-- Crear el trigger  
DELIMITER //  
CREATE TRIGGER orders_trigger AFTER INSERT ON orders  
FOR EACH ROW  
BEGIN  
    INSERT INTO order_logs (order_id, action) VALUES (NEW.id, 'INSERT');   
END;  
//
DELIMITER ;


-- Ejemplo de uso: Insertar un nuevo pedido en la tabla orders  
INSERT INTO orders (order_date, amount) VALUES ('2024-02-15', 100.00);

-- Verificar que se ha insertado un registro en la tabla order_logs   
SELECT * FROM order_logs;

#### Probamos con otra BBDD PostgreSQL

In [ ]:
#!pip install psycopg2

In [ ]:
host = 'btgxjgziecwozeij6ty0-postgresql.services.clever-cloud.com'
database = 'btgxjgziecwozeij6ty0'
user = 'u79hrk7oxnvczp38xmry'
password = '3IZIofUq4AIjh0hUexTd'

In [ ]:
cadena_conexion = f'postgresql://{user}:{password}@{host}/{database}'
cadena_conexion

'postgresql://u79hrk7oxnvczp38xmry:3IZIofUq4AIjh0hUexTd@btgxjgziecwozeij6ty0-postgresql.services.clever-cloud.com/btgxjgziecwozeij6ty0'

In [ ]:
%sql $cadena_conexion

(psycopg2.OperationalError) connection to server at "btgxjgziecwozeij6ty0-postgresql.services.clever-cloud.com" (91.208.207.32), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/14/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd'])

In [ ]:
%%sql
SELECT
    table_schema || '.' || table_name
FROM
    information_schema.tables
WHERE
    table_schema = 'public';

 * mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
0 rows affected.

[]

In [ ]:
%%sql
DROP table t_clientes_servicios

   mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
 * postgresql://u79hrk7oxnvczp38xmry:***@b6x2ffsljwkjblzsyaku-postgresql.services.clever-cloud.com/b6x2ffsljwkjblzsyaku
(psycopg2.errors.UndefinedTable) table "t_clientes_servicios" does not exist

[SQL: DROP table t_clientes_servicios]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
%%sql
create table t_clientes_servicios (
     id int,
     nombre varchar,
     servicios_contratados varchar[]
);

   mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
 * postgresql://u79hrk7oxnvczp38xmry:***@b6x2ffsljwkjblzsyaku-postgresql.services.clever-cloud.com/b6x2ffsljwkjblzsyaku
Done.

[]

In [ ]:
%%sql
insert into t_clientes_servicios values (1, ' JVG', ARRAY ['S1','S4']);
insert into t_clientes_servicios values (2, ' AAV', ARRAY ['S2','S3','S4']);
insert into t_clientes_servicios values (3, ' MCB', ARRAY ['S3']);

   mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
 * postgresql://u79hrk7oxnvczp38xmry:***@b6x2ffsljwkjblzsyaku-postgresql.services.clever-cloud.com/b6x2ffsljwkjblzsyaku
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
select * from t_clientes_servicios

   mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
 * postgresql://u79hrk7oxnvczp38xmry:***@b6x2ffsljwkjblzsyaku-postgresql.services.clever-cloud.com/b6x2ffsljwkjblzsyaku
3 rows affected.

[(1, ' JVG', ['S1', 'S4']),
 (2, ' AAV', ['S2', 'S3', 'S4']),
 (3, ' MCB', ['S3'])]

#### Operación UNNEST

In [ ]:
%%sql
select id, nombre, unnest(servicios_contratados) from t_clientes_servicios

   mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
 * postgresql://u79hrk7oxnvczp38xmry:***@b6x2ffsljwkjblzsyaku-postgresql.services.clever-cloud.com/b6x2ffsljwkjblzsyaku
6 rows affected.

[(1, ' JVG', 'S1'),
 (1, ' JVG', 'S4'),
 (2, ' AAV', 'S2'),
 (2, ' AAV', 'S3'),
 (2, ' AAV', 'S4'),
 (3, ' MCB', 'S3')]

#### Operación PIVOT (crosstab)

In [ ]:
%%sql
DROP table t_ventas

In [ ]:
%%sql
create table t_ventas (
     year int,
     product varchar,
     sales float
);

In [ ]:
%%sql
insert into t_ventas values (2020, ' P1', 100);
insert into t_ventas values (2021, ' P1', 140);
insert into t_ventas values (2022, ' P1', 110);
insert into t_ventas values (2020, ' P2', 150);
insert into t_ventas values (2021, ' P2', 180);
insert into t_ventas values (2022, ' P2', 190);
insert into t_ventas values (2020, ' P3', 210);
insert into t_ventas values (2021, ' P3', 205);
insert into t_ventas values (2022, ' P3', 250);

   mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
 * postgresql://u79hrk7oxnvczp38xmry:***@b6x2ffsljwkjblzsyaku-postgresql.services.clever-cloud.com/b6x2ffsljwkjblzsyaku
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
select * from t_ventas

   mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
 * postgresql://u79hrk7oxnvczp38xmry:***@b6x2ffsljwkjblzsyaku-postgresql.services.clever-cloud.com/b6x2ffsljwkjblzsyaku
9 rows affected.

[(2020, ' P1', 100.0),
 (2021, ' P1', 140.0),
 (2022, ' P1', 110.0),
 (2020, ' P2', 150.0),
 (2021, ' P2', 180.0),
 (2022, ' P2', 190.0),
 (2020, ' P3', 210.0),
 (2021, ' P3', 205.0),
 (2022, ' P3', 250.0)]

In [ ]:
%%sql
SELECT *
FROM crosstab(
    'SELECT product, year, sales
      FROM t_ventas
      ORDER BY product, year',
    'SELECT DISTINCT year FROM t_ventas ORDER BY year'
) AS ct (product text, "2020" int, "2021" int, "2022" int);

   mysql+pymysql://uckk0wajcjw2qmgg:***@bow6egk4eo4nviriaqyd-mysql.services.clever-cloud.com/bow6egk4eo4nviriaqyd
 * postgresql://u79hrk7oxnvczp38xmry:***@b6x2ffsljwkjblzsyaku-postgresql.services.clever-cloud.com/b6x2ffsljwkjblzsyaku
3 rows affected.

[(' P1', 100, 140, 110), (' P2', 150, 180, 190), (' P3', 210, 205, 250)]